@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-container {
  background-image: url('/inventoryBackground.png');
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.inventory-item {
  background-image: url('/itemBackground.jpg');
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.inventory-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  animation: blurEffect 0.5s ease-in-out;
}

@keyframes blurEffect {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}